# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Data files
*.csv
*.json
*.xlsx

# Logs
*.log

# Model weights
*.h5
*.pth
*.pb

# IDE configuration files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
